@media (min-width: 260px) and (max-width: 990px) {

    .navpao {
        font-size: 1.5em !important;
    }

    .main__paola {
        margin-top: 40px;
    }

    .indexcontainer {
        margin-top: 15vh !important;
        margin-left: 2em !important;
    }
}